<p id="notice"><%= notice %></p>

<h1>Descricao Despesa Receita</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Natureza</th>
      <th>Valor fixo</th>
      <th>Ativo</th>
      <th>Data inclusao</th>
      <th>Data alteracao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @descricao_despesa_receita.each do |descricao_despesa_receita| %>
      <tr>
        <td><%= descricao_despesa_receita.descricao %></td>
        <td><%= descricao_despesa_receita.natureza %></td>
        <td><%= descricao_despesa_receita.valor_fixo %></td>
        <td><%= descricao_despesa_receita.ativo %></td>
        <td><%= descricao_despesa_receita.data_inclusao %></td>
        <td><%= descricao_despesa_receita.data_alteracao %></td>
        <td><%= link_to 'Show', descricao_despesa_receita %></td>
        <td><%= link_to 'Edit', edit_descricao_despesa_receitum_path(descricao_despesa_receita) %></td>
        <td><%= link_to 'Destroy', descricao_despesa_receita, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Descricao Despesa Receitum', new_descricao_despesa_receitum_path %>
