<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @descricao_despesa_receita.descricao %>
</p>

<p>
  <strong>Natureza:</strong>
  <%= @descricao_despesa_receita.natureza %>
</p>

<p>
  <strong>Valor fixo:</strong>
  <%= @descricao_despesa_receita.valor_fixo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @descricao_despesa_receita.ativo %>
</p>

<p>
  <strong>Data inclusao:</strong>
  <%= @descricao_despesa_receita.data_inclusao %>
</p>

<p>
  <strong>Data alteracao:</strong>
  <%= @descricao_despesa_receita.data_alteracao %>
</p>

<%= link_to 'Edit', edit_descricao_despesa_receitum_path(@descricao_despesa_receita) %> |
<%= link_to 'Back', descricao_despesa_receita_path %>
