<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @descricao_despesa_receitum.descricao %>
</p>

<p>
  <strong>Natureza:</strong>
  <%= @descricao_despesa_receitum.natureza %>
</p>

<p>
  <strong>Valor fixo:</strong>
  <%= @descricao_despesa_receitum.valor_fixo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @descricao_despesa_receitum.ativo %>
</p>

<p>
  <strong>Data inclusao:</strong>
  <%= @descricao_despesa_receitum.data_inclusao %>
</p>

<p>
  <strong>Data alteracao:</strong>
  <%= @descricao_despesa_receitum.data_alteracao %>
</p>

<p>
  <strong>Apartamento:</strong>
  <%= @descricao_despesa_receitum.apartamento %>
</p>

<%= link_to 'Edit', edit_descricao_despesa_receitum_path(@descricao_despesa_receitum) %> |
<%= link_to 'Back', descricao_despesa_receita_path %>
