<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @receita_recebida.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @receita_recebida.data %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @receita_recebida.ativo %>
</p>

<p>
  <strong>Data inclusao:</strong>
  <%= @receita_recebida.data_inclusao %>
</p>

<p>
  <strong>Data alteracao:</strong>
  <%= @receita_recebida.data_alteracao %>
</p>

<p>
  <strong>Receita a receber:</strong>
  <%= @receita_recebida.receita_a_receber %>
</p>

<%= link_to 'Edit', edit_receita_recebida_path(@receita_recebida) %> |
<%= link_to 'Back', receita_recebidas_path %>
