<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>Veículo</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><a href="#">Dashboard</a></li>
          <li class="active">Veículo</li>
        </ol>
      </div>
    </div>
  </div>
</div>
  
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">

      <p id="notice"><%= notice %></p>
      <!--<h1>Descricao Tipos</h1>-->

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Veículos</strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Placa</th>
      <th>Ativo</th>
      <th>Data inclusao</th>
      <th>Data alteracao</th>
      <th>Apartamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @veiculos.each do |veiculo| %>
      <tr>
        <td><%= veiculo.marca %></td>
        <td><%= veiculo.modelo %></td>
        <td><%= veiculo.cor %></td>
        <td><%= veiculo.placa %></td>
        <td><%= veiculo.ativo %></td>
        <td><%= veiculo.data_inclusao %></td>
        <td><%= veiculo.data_alteracao %></td>
        <td><%= veiculo.apartamento.unidade %></td>
        <td><%= link_to 'Show', veiculo %></td>
        <td><%= link_to 'Edit', edit_veiculo_path(veiculo) %></td>
        <td><%= link_to 'Destroy', veiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
            <%= link_to 'Adicionar Veículo', new_veiculo_path, class: "btn btn-outline-primary", role:"button" %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->
