<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1> Veículo</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Veículo</a></li>
          <li class="active">ID</li>
        </ol>
      </div>
    </div>
  </div>
</div>
  
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Veículo: ID</strong>
          </div>
          <div class="card-body card-block">
<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @veiculo.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @veiculo.modelo %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @veiculo.cor %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @veiculo.placa %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @veiculo.ativo %>
</p>

<p>
  <strong>Data inclusao:</strong>
  <%= @veiculo.data_inclusao %>
</p>

<p>
  <strong>Data alteracao:</strong>
  <%= @veiculo.data_alteracao %>
</p>

<p>
  <strong>Apartamento:</strong>
  <%= @veiculo.apartamento %>
</p>
</div>
        </div>
        </div>
        </div>
        <%= link_to 'Editar', edit_veiculo_path(@veiculo), class: "btn btn-outline-primary", role:"button" %>
        <%= link_to 'Voltar', @veiculo.apartamento, class: "btn btn-outline-primary", role:"button" %>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->
