<p id="notice"><%= notice %></p>

<h1>Veiculos</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Placa</th>
      <th>Ativo</th>
      <th>Data inclusao</th>
      <th>Data alteracao</th>
      <th>Apartamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @veiculos.each do |veiculo| %>
      <tr>
        <td><%= veiculo.marca %></td>
        <td><%= veiculo.modelo %></td>
        <td><%= veiculo.cor %></td>
        <td><%= veiculo.placa %></td>
        <td><%= veiculo.ativo %></td>
        <td><%= veiculo.data_inclusao %></td>
        <td><%= veiculo.data_alteracao %></td>
        <td><%= veiculo.apartamento %></td>
        <td><%= link_to 'Show', veiculo %></td>
        <td><%= link_to 'Edit', edit_veiculo_path(veiculo) %></td>
        <td><%= link_to 'Destroy', veiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Veiculo', new_veiculo_path %>
