<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>Balanço</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li><a href="#">Dashboard</a></li>
          <li class="active">Balanço</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<%= render 'list_saldo_anterior' %>

<%= render 'list_receitas' %>

<%= render 'list_despesas' %>

<%= render 'list_saldo_mes' %>

<%= render 'list_saldo_atual' %>

<%= render 'list_taxa_extra' %>
