<%= form_for(receita_a_receber) do |f| %>
  <% if receita_a_receber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receita_a_receber.errors.count, "error") %> prohibited this receita_a_receber from being saved:</h2>

      <ul>
      <% receita_a_receber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <div class="field">
    <%= f.label :natureza %>
    <%= f.text_field :natureza %>
  </div>

  <div class="field">
    <%= f.label :ativo %>
    <%= f.check_box :ativo %>
  </div>

  <div class="field">
    <%= f.label :data_inclusao %>
    <%= f.datetime_select :data_inclusao %>
  </div>

  <div class="field">
    <%= f.label :data_alteracao %>
    <%= f.datetime_select :data_alteracao %>
  </div>

  <div class="field">
    <%= f.label :apartamento_id %>
    <%= f.text_field :apartamento_id %>
  </div>

  <div class="field">
    <%= f.label :descricao_despesa_receita_id %>
    <%= f.text_field :descricao_despesa_receita_id %>
  </div>

  <div class="field">
    <%= f.label :morador_id %>
    <%= f.text_field :morador_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
