<%= form_for(descricao_tipo) do |f| %>
  <% if descricao_tipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(descricao_tipo.errors.count, "error") %> prohibited this descricao_tipo from being saved:</h2>

      <ul>
      <% descricao_tipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <%= f.label :nome, class: "form-control-label", for: :nome %>
    </div>
    <div class="col col-md-6">
      <%= f.text_field :nome, class:"form-control", placeholder: :nome %>
      <!--<small class="form-text text-muted">This is a help text</small></div>-->
    </div>
  </div>
</div>
<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <%= f.label :natureza, class: "form-control-label", for: :natureza %>
    </div>
    <div class="col col-md-6">
      <%= f.select :natureza, [['Despesa condominio', 'despesa_condominio'], ['Despesa Extra', 'despesa_extra'],['Fundo de reserva', 'fundo_reserva'], ['Taxa condominio', 'taxa_condominio']], {}, { :class => 'form-control', :tabindex => '-1'} %>
      <!--<small class="form-text text-muted">This is a help text</small></div>-->
    </div>
  </div>
</div>
<div class="col col-md-6">
  <div class="form-group">
    <div class="col col-md-6">
      <%= f.label :valor_fixo, class: "form-control-label", for: :valor_fixo %>
    </div>
    <div class="col col-md-6">
      <%= f.text_field :valor_fixo, class:"form-control", placeholder: :valor_fixo %>
      <!--<small class="form-text text-muted">This is a help text</small></div>-->
    </div>
  </div>
</div>
<div class="col col-md-6 hide">
  <div class="form-group">
    <div class="col col-md-6">
      <%= f.label :ativo, class: "form-control-label", for: :ativo %>
    </div>
    <div class="col-12 col-md-6">
      <%= f.check_box :ativo, class:"form-control", placeholder: :ativo %>
      <!--<small class="form-text text-muted">This is a help text</small></div>-->
    </div>
  </div>
</div>
<div class="col col-md-6 hide">
  <div class="form-group">
    <div class="col col-md-6">
        <%= f.label :data_inclusao, class: "form-control-label", for: :data_inclusao %>
      </div>
    <div class="col col-md-6">
      <%= f.datetime_select :data_inclusao, class:"form-control" %>
      <!--<small class="form-text text-muted">This is a help text</small></div>-->
    </div>
  </div>
</div>
<div class="col col-md-6 hide">
  <div class="form-group">
    <div class="col col-md-6">
        <%= f.label :data_alteracao, class: "form-control-label", for: :data_alteracao %>
      </div>
    <div class="col col-md-6">
      <%= f.datetime_select :data_alteracao, class:"form-control" %>
      <!--<small class="form-text text-muted">This is a help text</small></div>-->
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col col-md-12">
    <div class="row">
      <%= f.submit class: "btn btn-primary btn-sm" %>
      <!--<button type="submit" class="btn btn-primary btn-sm">
        <i class="fa fa-dot-circle-o"></i> Submit
      </button>-->
      <button type="reset" class="btn btn-danger btn-sm">
        <i class="fa fa-ban"></i> Reset
      </button>
    </div>
  </div>
</div>

<% end %>
