            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Natureza</th>
                  <th>Valor fixo</th>
                  <th>Ativo</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% descricao_tipos.each do |descricao_tipo| %>
                  <tr>
                    <td><%= descricao_tipo.nome %></td>
                    <td><%= descricao_tipo.natureza %></td>
                    <td><%= descricao_tipo.valor_fixo %></td>
                    <td><%= descricao_tipo.ativo %></td>
                    <td><%= link_to 'Exibir', descricao_tipo %></td>
                    <td><%= link_to 'Editar', edit_descricao_tipo_path(descricao_tipo) %></td>
                    <td><%= link_to 'Deletar', descricao_tipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
