<table id="bootstrap-data-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Tel celular</th>
      <th>Parentesco</th>
      <th>Tipo</th>
      <th>Ativo</th>
      <th>Apartamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% moradors.each do |morador| %>
      <tr>
        <td><%= morador.nome %></td>
        <td><%= morador.cpf %></td>
        <td><%= morador.tel_celular %></td>
        <td><%= morador.parentesco %></td>
        <td><%= morador.tipo %></td>
        <td><%= morador.ativo %></td>
        <td><%= morador.apartamento.unidade %></td>
        <td><%= link_to 'Show', morador %></td>
        <td><%= link_to 'Edit', edit_morador_path(morador) %></td>
        <td><%= link_to 'Destroy', morador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
            </table>